<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Blog{% endblock %}</title>


    <link href="/static/reset.css" rel="stylesheet">
{#    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">#}
    <link href="/static/main.css" rel="stylesheet">

    {% block head_scripts %}{% endblock %}
</head>
{% block body %}
    <body>
    <div id="root" class="page">
        <div id="header" class="header">
            <div class="container">
                <a href="/">Главная</a>
                <a href="/den">Кабинет</a>
                <a href="/den/posts">Посты</a>
                <a href="/login">Логин</a>
                <a href="/register">Регистрация</a>
                <a href="/users">Пользователи</a>
                <a href="/logout">Логаут</a>
            </div>
        </div>
        <div id="content" class="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="footer"></div>
    </div>

    {% include 'body_bottom_script.html' %}
    </body>
{% endblock %}
</html>