{% extends 'base.html' %}

{% block title %}
    Твоя берлога
{% endblock %}

{% block content %}
    <div class="container">
        <textarea class="post-text"></textarea>
        <div class="btn add-post">добавить пост</div>
    </div>
{% endblock %}