{% extends 'base.html' %}

{% block content %}
    <div class="post-list">
        {% for post in posts %}
            <div class="post-item">
                <div class="post-title"></div>
                <div class="post--content">
                    <a href="{{ post.get_url() }}">{{ post.text }}</a>
                    |
                    <a href="{{ post.get_edit_url() }}">edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}