{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password">
            <button type="submit">войти в IT</button>
        </form>
    </div>
{% endblock %}