{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form action="/register" method="post">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="password2" placeholder="Repeat password">
            <button class="btn" type="submit">Register</button>
        </form>
    </div>
{% endblock %}