body, html {
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 60px;
    background-color: orange;
    color: white;
}

.content {
    flex-grow: 1;
}

.footer {
    height: 20px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    /*vertical-align: middle;*/
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}